{% extends "base.html" %}

{% block content %}

<table class="table">
   <thead>
    <tr class="d-flex">
        <th class="col-2">Date</th>
        <th class="col-2">Title</th>
        <th class="col-7">Text</th>
        <th class="col-1"></th>
    </tr>
   </thead>
   <tbody>
       {% for post in drafts %}
     <tr class="d-flex">
       <td class="col-2">
           {{ post.pub_date.strftime('%Y-%m-%d') }}
       </td>
       <td class="col-2">
           <a href="{{ url_for('edit_entry', entry_id=post.id) }}">
               {{ post.title }}
           </a>
       </td>
       <td class="col-7">{{ post.body|truncate(100, true) }}</td>
       <td class="col-1">
        {% if session.logged_in %}
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('delete_entry', entry_id=post.id) }}" method="POST">
          <button class="btn"><svg width="29" height="29" viewBox="0 0 18 18" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg><i class="fa fa-home"></i></button>
          
        </form>
        {% endif %}
       </td>
     </tr>
     {% endfor %}
   </tbody>
 </table>

{% endblock %}