{% extends "mypage.html" %}
{% block content %}
    <body>
        <h2>Form</h2>
    </body>
    <form>
        <label for="name">Imię: </label>
        <input type="text" id="name" name="name"><br>
    
        <p>Płeć:</p>
        <label for="female">Kobieta</label>
        <input type="radio" id="female" name="gender" value="female"><br>
    
        <label for="male">Mężczyzna</label>
        <input type="radio" id="male" name="gender" value="male"><br>
    
        <p>Zainteresowania:</p>
        <label for="sport">Sport</label>
        <input type="checkbox" id="sport" name="interests" value="sport"><br>
    
        <label for="sport">Książki</label>
        <input type="checkbox" id="books" name="interests" value="books"><br>
        <label for="graal">Św. Graal</label>
        <input type="checkbox" id="graal" name="interests" value="graal"><br>
        <label for="shrubber">Krzewy</label>
        <input type="checkbox" id="shrubber" name="interests" value="shrubber"><br>
    
        <p>Opis</p>
        <label for="description">Opis</label>
        <textarea cols=80 rows=4 type="textbox" id="description" name="description" placeholder="Opis..."></textarea><br>
    
        <input type="submit" value="send">
    </form>
{% endblock %}