{% extends "mypage.html" %}
{% block content %}
    <body>
        <img src="https://external-preview.redd.it/fVt3DtQzl6VyLEZ8k0DiARtIA_J1AmuokYaNDROZG6k.jpg?auto=webp&s=04e1b12d0c619341c7775c105b05ed056905394f" alt="The smallest minority on earth... Ayan Rand" title="Ayan Rand">
        <h2>About Me</h2>
        <p><strong>Name: </strong>  T****</p>
        <p><strong>Surname:</strong>  T****</p>
        <p>I'm a funny scientist with crazy ideas.<br>
        You won't believe what my mind can create.<br>
        I'd like to draw cold from the earth to<br>
        make energy and cryogenics in Poland.<br>
        Python helps me understand "GemPY".</p>
    </body>
{% endblock %}